rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /artisans/{fileName} {
      allow read: if true;
      allow write: if false;
    }

    match /toys/{fileName} {
      allow read: if true;
      allow write: if false;
    }

    match /education/{fileName=**} {
      allow read: if true;
      allow write: if false;
    }

    match /workshops/{fileName} {
      allow read: if true;
      allow write: if false;
    }
  }
}
